<!DOCTYPE html>
<html>
 <head>
  <title>Band Tracker</title>
  <link rel='stylesheet' href='/app.css'>
 </head>
 <body>

		<div class="header-main headers">
				<h3></h3>
		</div>
    #parse( $template )


    <h5><a href="/">Home</a></h5>
 </body>
</html>
