<h3>
Register your band or a band you represent
</h3>

<form action="/bands/new" method="post">
  <div class="form-group form-inline">
    <label for="band-name">Name of Band</label><br>
    <input type="text" name="band-name" class="form-control" id="band-name">
  </div>
  <button type="submit" class="btn btn-primary" id="new-band-submit">Submit</button>
</form>
