<h3>
Register your venue or a venue you represent
</h3>

<form action="/venues/new" method="post">
  <div class="form-group form-inline">
    <label for="venue-name">Name of Venue</label><br>
    <input type="text" name="venue-name" class="form-control" id="venue-name">
  </div>
  <button type="submit" class="btn btn-primary" id="new-venue-submit">Submit</button>
</form>
